/* CSS general */
.iframee {
  width: 100px;
  height: 50px;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* CSS pantallas de 320px o superior */
@media (min-width: 320px) {

.iframee  {
    width: 400px;
    height: 400px;
  } 

}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {

 .iframee  {
    width: 700px;
    height: 350px;
  } 

}

@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

.backg
{ 
  background-attachment:fixed;
    background-color: #645862;
    background-image:  url("images/bg.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: default;
    padding: 180px 0 120px;
    text-align: center;
    width: 100%;
    float: left;
}


.carousel .carousel-item {
width:400px !important;}

/*
.carousel .carousel-item {
width:300px !important;}

.carousel .carousel-item>img {
    width: 230%; //there you set the width
    margin-left: -70%; //this is the centering of carousel (in original, it is a bit off to the right)
}

@media (min-width: 380px) and (max-width: 768px){
.carousel .carousel-item {
    width:300px !important;
}
}

@media (min-width: 0px) and (max-width: 379px){
.carousel .carousel-item {
    width:300px !important;
}
}

https://stackoverflow.com/questions/37762139/how-to-increase-the-size-of-carousel-in-materialize-css
*/